.main {
    padding: 10px 100px;
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    background-color: #fff;
    z-index: 1000;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
}

.link:hover {
    color: grey;
}

#getBtn {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 35px;
    position: relative;
}
#getBtn:hover {
    background-color: rgb(14 165 233);
    color: red;
}
.profileIcon_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}
.profileIcon {
    font-size: 30px;

}